@charset "utf-8";

*{margin: 0; padding: 0;}
li{list-style: none;}
a{
    display: block;text-decoration: none;
    color: inherit;
}
img{
    display: block;border: 0;
}
.cf::after{
    content: "";display: block;
    clear: both;
}



/* 크기 */

#wrap{
    width: 1200px;
    height: 700px;
    margin: 0 auto;
}


#slide{
    height: 300px;
}

footer{
    height: 100px;
}


/* 헤더 */

.logo img{
    width: 200px;
    height: 50px;
}
.logo{
    float: left;
    padding: 25px 0;
}

nav{
    width: 1000px;
    height: 100px;
    float: left;
    position: relative;
  
}
.gnb{
    width:408px;
    position:absolute;
    top:77px;
    left:380px;
    z-index: 100;
    
}
.gnb>li{
    float: left;
    width: 100px;
    text-align: center;
    border: solid 1px #333;
}

.sub{
    display: none;
}
.sub>li{
    font-size: 12px;
}

/* .gnb:hover .sub{ display: block;
    } */

.gnb>li:hover>a{
    background-color: #333;
}
.sub>li:hover>a{
    background-color: #fff;
}

.nav_back{ 
    width: 1200px;height: 150px;
    background-color: #333;
    position: absolute;
    top:100px;
    display: none;
    z-index: 2;
}
/* 슬라이드 */

#slide {
    overflow:hidden;
}
#slide ul { 
    animation: fade 9s infinite;
}
#slide img{
    width: 1200px;
    height: 300px;
}

/* @keyframes fade{
    0%{margin-top:0%; opacity: 0;}
    3%{margin-top:0%; opacity: 1;}
    30%{margin-top:0%; opacity: 1;}
    33%{margin-top:0%; opacity: 0;}
    33.1%{margin-top:-300px;opacity: 0;}
    36%{margin-top:-300px;opacity: 1;}
    63%{margin-top:-300px;opacity: 1;}
    66%{margin-top:-300px;opacity: 0;}
    66.1%{margin-top:-600px;opacity: 0;}
    69%{margin-top:-600px;opacity: 1;}
    97%{margin-top:-600px;opacity: 1;}
    100%{margin-top:-600px;opacity: 0;}
} */


/* 컨텐드부분 */

section{
    width: 400px;
    height: 200px;
    float: left;
}
.tab{
    border-bottom: 1px #ccc solid;
}
.tab>li{
    width: 150px;
    height: 29px;
    float: left;
    text-align: center;
    line-height: 30px;
    background-color: aliceblue;
}
.tab a{
    transition: .3s;
}
.tab li:hover a{
    background-color: #333;
}

.notice{
    height: 150px;
    padding: 10px 10px;
    background-color: aliceblue;
}
.subject {
    width: 280px;
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 25px;
}

.date{
    width: 80px;
    float: left;
    font-size: 12px;
    line-height: 25px;
    text-align: right;
}

.gallery{
    
    height: 170px;
    background-color: aliceblue;
    
}
.gallery img{
    width: 100px;
    height: 100px;
   
}
.gallery a{
    overflow: hidden;
    outline: 1px #ccc solid;
    
}
.gallery li{
    padding: 40px 0 25px 20px;
    float: left;
}

.gallery a:hover img{
    transform: scale(1.1, 1.1 );
}

.shortcut{
    background-color: aliceblue;
    height:170px;
}
.shortcut li{
    float: left;
    padding: 20px 0 25px 20px;
}
.shortcut img{
    width: 100px;
    height: 100px;
}

.shortcut h3{
    font-size: 12px;
    text-align: center;
}

.family{
    width: 100px;
    float: left;
}

.a_footer{
    width: 1000px;
    float: left;
    font-size: 12px;
}
.copyright{
    width: 1000px;
    float: left;
    font-size: 10px;
}

